<!doctype html>
<title>CPI API</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>CPI API Documentation</h1>
  <p>Here you will find information on consuming the cpi api.</p>
    <br /> <br />
    <h2>ADDING CPI Data</h2>
    <b>POST /api/v1/cpi</b> - Add some new news to our database!
    <br /> <br />
    <h2>GETTING CPI Data</h2>
    <b>GET /api/v1/cpi</b> - Get all the cpi data from our database!<br />
    <b>GET /api/v1/cpi/&lt;id&gt;</b> - Get a specific cpi data point from our database!
    <br /> <br />
    <h2>DELETING CPI Data</h2>
    <b>DELETE /api/v1/cpi/&lt;id&gt;</b> - Get all the  cpi from our database!
</div>
